:root {
    --primary: #0E7D67;
    --primary-40: hsl(168, 80%, 27%, .4);
    --primary-30: hsl(168, 80%, 27%, .3);
    --primary-20: hsl(168, 80%, 27%, .2);
    --primary-10: hsl(168, 80%, 27%, .1);

    --primary-vivid: #00a484;

    --blue: #DEF0FF;

    --purple: #E2D9FB;

    --gray-light: #DEDEDE;
    --gray-medium: #c3c3c3;
    --gray-text: #7e7e7e;

    --section-padding: clamp(16px, 10vw, 64px);
    --section-padding-xl: clamp(16px, 10vw, 128px);
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
    line-height: 1;
    color: var(--primary);
}

h1, h2, h3 {
    font-family: 'Lilita One', cursive;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    font-weight: 800;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-size: 1.15rem;
    font-weight: 700;
}

@media screen and (min-width: 600px) {
    h1 {
        font-size: 4rem;
    }
    
    h2 {
        font-size: 2.5rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }
    
    h4 {
        font-size: 1.25rem;
    }
}

p, button, a {
    
}

a {
    text-decoration: none;
    color: var(--primary);
}

/* ============================ */
/* BUTTON */
/* ============================ */

.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary);
    color: white;
    border: none;
    padding: .625rem 1.25rem;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;

    /* link specific */
    text-decoration: none;
}

.btn:hover {
    background-color: var(--primary-vivid);
}

.btn.inline {
    display: inline-flex;
}

.btn.outline {
    background-color: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
}

.btn.text {
    background-color: transparent;
    color: var(--primary);
}

.btn.icon {
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.btn.text:hover, .btn.outline:hover {
    background-color: var(--primary-10);
}

/* ============================ */
/* LAYOUT */
/* ============================ */

.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.content-stack {
    display: grid;
    gap: 16px;
    align-content: start;
}

.content-stack.stack-lg {
    gap: 32px;
}

.content-stack.stack-section {
    gap: var(--section-padding);
}

.content-stack p {
    line-height: 1.75;
}

.page-section {
    position: relative;
    padding-block: var(--section-padding);
}

.page-section-xl {
    position: relative;
    padding-block: var(--section-padding-xl);
}

.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
}

.spacer {
    flex-grow: 1;
}

.read-more.hide {
    display: none;
}

.read-more-btn {
    margin-left: -16px;
}

/* ============================ */
/* BACKGROUNDS */
/* ============================ */

.gradient-bk {
    background: linear-gradient(white, var(--primary-20));
}

.blue-bk {
    background: var(--blue);
}

.purple-bk {
    background: var(--purple);
}

.green-bk {
    background: var(--primary-20);
}

/* ============================ */
/* TEXT */
/* ============================ */

.txt-wrapper {
    max-width: 700px;
}

.txt-centered {
    text-align: center;
    align-items: center;
    justify-items: center;
}

.txt-highlight {
    color: var(--primary);
}

/* ============================ */
/* LISTS */
/* ============================ */

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.checklist {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0 var(--section-padding);
}

@media screen and (min-width: 600px) {
    .checklist {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}

.checklist li {
    display: flex;
    align-items: center;
    gap: 6px;
    position: relative;
    list-style: none;
    padding-block: 1rem;
    border-bottom: 1px solid var(--gray-light);
}

.checklist li::before {
    content: url("../images/icons/checkmark.svg");
}

/* ============================ */
/* PLANTS */
/* ============================ */

.plant-section {
    position: relative;
    overflow: hidden;
}

.plant-section > * {
    position: relative;
    z-index: 1;
}

.plant-section::before {
    width: 200px;
    position: absolute;
    bottom: -16px;
    left: max(calc(10% - 100px), calc((40% - 600px) + 10% - 100px));
    z-index: 0;
}

@media screen and (max-width: 1000px) {
    .plant-section::before {
        opacity: .5;
    }
}

.plant-section.white-plant-1::before {
    content: url("../images/plants/white-plant-1.svg");
}

.plant-section.white-plant-2::before {
    content: url("../images/plants/white-plant-2.svg");
}

.plant-section.white-plant-5::before {
    width: 230px;
    content: url("../images/plants/white-plant-5.svg");
}

.plant-section.green-plant-1::before {
    width: 150px;
    bottom: -8px;
    content: url("../images/plants/green-plant-1.svg");
}

.plant-section.green-plant-2::before {
    width: 150px;
    bottom: -8px;
    content: url("../images/plants/green-plant-2.svg");
}

.plant-section.green-plant-3::before {
    width: 200px;
    content: url("../images/plants/green-plant-3.svg");
}

.plant-section.green-plant-4::before {
    width: 250px;
    content: url("../images/plants/green-plant-4.svg");
}

.plant-section.green-plant-5::before {
    width: 200px;
    content: url("../images/plants/green-plant-5.svg");
}

.fern-sun {
    position: relative;
}

.fern-sun::after {
    content: url("../images/plants/fern-sun.svg");
    position: absolute;
    top: 100px;
    right: calc((40% - 600px) + 10%);
    width: 372px;
}

@media screen and (max-width: 1280px) {
    .fern-sun::after {
        display: none;
    }
}

/* ============================ */
/* FLOWERS */
/* ============================ */

.flower {
    position: absolute;
}

#hero-img-flower-1 {
    width: 75px;
    position: absolute;
    top: 70%;
    left: -100px;
}

#hero-img-flower-2 {
    width: clamp(100px, 20vw, 200px);
    position: absolute;
    top: clamp(-50px, -10vw, -100px);
    right: max(calc(10% - 50px), calc((40% - 600px) + 10%))
}

#team-flower {
    width: 100px;
    top: calc(-50px - 64px);
    right: 100%;
}

#child-vision-flower {
    width: clamp(75px, 20vw, 150px);
    position: absolute;
    top: clamp(-75px, -10vw, -25px);
    right: max(calc(10% - 50px), calc((40% - 600px) + 10%));
}

#all-ages-flower {
    width: clamp(75px, 20%, 120px);
    position: absolute;
    bottom: max(10%, 16px);
    right: max(10%, 16px);
}

#contact-us-flower-1 {
    width: 64px;
    position: absolute;
    top: -32px;
    left: max(calc(15% - 32px), calc((40% - 600px) + 15%));
}

#contact-us-flower-2 {
    width: 100px;
    position: absolute;
    top: -50px;
    left: max(calc(10% - 32px), calc((40% - 600px) + 10%));
}

#svt-graphics-flower {
    width: 150px;
    position: absolute;
    top: -75px;
    right: max(calc(10% - 32px), calc((40% - 600px) + 10%));
}

#curtis-flower {
    width: clamp(30px, 20%, 120px);
    position: absolute;
    top: max(20%, 16px);
    right: max(10%, 16px);
}

@media screen and (max-width: 1399px) {
    #team-flower {
        left: 0;
    }
}

@media screen and (max-width: 799px) {
    #svt-graphics-flower {
        width: 100px;
        top: -50px;
    }
}

@media screen and (max-width: 599px) {
    #team-flower {
        width: 70px;
        top: calc(-50px - 16px);
    }
    #child-vision-flower {
        right: 16px;
    }
    #contact-us-flower-2 {
        width: 50px;
        position: absolute;
        top: -25px;
        left: 10%;
    }
}

/* ============================ */
/* NAV */
/* ============================ */

header {
    position: sticky;
    top: 0;
    padding-block: 1.5rem;
    background-color: white;
    z-index: 200;
    transition: all .5s;
}

header.detached {
    box-shadow: 0 2px 5px 2px rgba(14, 125, 103, 0.08);
    padding-block: 1rem;
}

header.detached .vit-logo-header {
    width: 100px;
}

#header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#topnav {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 80%;
    top: 0;
    right: -80%;
    bottom: 0;
    background-color: white;
    z-index: 100;
    padding: 16px;
    padding-top: 0;
    transition: .5s right;
    overflow-y: auto;
}

#mobilenav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem;
    padding-top: 1.5rem;
}

#topnav-links {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#topnav.show {
    right: 0;
}

#mobilenav-bk {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

@media screen and (max-width: 899px) {
    #mobilenav-bk.show {
        display: block;
    }
}

#topnav-links a {
    font-weight: 700;
}

@media screen and (max-width: 899px) {
    #topnav-links a:not(.outline) {
        justify-content: start;
        padding-block: 16px;
    }
    #topnav-links a {
        padding-block: 16px;
    }
}

#services-target {
    cursor: default;
    position: relative;
    display: block;
    padding: 0 1.25rem;
    font-weight: 600;
    color: var(--primary);
}

#services-target p {
    padding: 8px 0;
}

#services-target span {
    display: none;
    margin-left: 8px;
}

#services-dropdown li {
    display: block;
}

#services-dropdown li:not(:last-child) {
    border-bottom: 1px solid var(--primary-10);
}

.service-link {
    display: block;
    padding: 16px 16px 16px 32px;
    width: 100%;
}

@media screen and (min-width: 975px) {
    #mobilenav-btn {
        display: none;
    }
    #mobilenav-bk {
        display: none;
    }
    #mobilenav-header {
        display: none;
    }
    #topnav {
        position: static;
        width: auto;
        background: transparent;
        padding: 0;
        overflow-y: visible;
    }
    #topnav-links {
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }
    #services-target {
        display: flex;
        padding: .625rem 1.25rem;
    }
    #services-target span {
        display: inline;
    }
    #services-target p {
        padding: 0;
    }
    #services-dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: -16px;
        background-color: white;
        z-index: 100;
        padding-block: 8px;
        border-radius: 8px;
        min-width: 250px;
        border: 1px solid var(--primary-10);
    }
    .service-link {
        padding: 8px 16px;
    }
    .service-link:hover {
        background-color: var(--primary-10);
    }
    #services-target:hover #services-dropdown {
        display: block;
    }
}

.vit-logo-header {
    transition: all .3s;
    width: 175px;
}

/* ============================ */
/* FOOTER */
/* ============================ */

.footer-grid {
    display: grid;
    gap: 32px;
    padding-block: var(--section-padding);
}

.footer-about {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media screen and (min-width: 960px) {
    .footer-grid {
        grid-template-columns: 2fr 1fr 1fr;
    }
    .footer-about {
        flex-direction: row;
        padding-right: 48px;
    }
    .footer-about-content {
        padding-top: 16px;
    }
    .footer-about > a {
        width: 56px;
        flex-shrink: 0;
    }
}

.footer-social {
    display: flex;
    gap: 16px;
}

.social-link {
    width: 50px;
    height: 50px;
    background-color: var(--primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link:hover {
    background-color: var(--primary-vivid);
}

.footer-services h3 {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1rem;
}

@media screen and (max-width: 959px) {
    .footer-services a {
        padding-left: 24px;
    }
}

.copyright {
    color: var(--gray-text);
    padding-block: 16px;
    text-align: center;
    border-top: 1px solid var(--primary-20);
}

.vit-icon-footer {
    width: 56px;
}

/* ============================ */
/* CTA SECTIONS */
/* ============================ */

#testimonial-section, #contact-us-section {
    justify-content: center;
}

.testimonial-quote {
    margin: 0 auto;
    display: inline-block;
    width: 60px;
}

/* ============================ */
/* LOGO GRIDS */
/* ============================ */

.logo-grid {
    display: grid;
    gap: 24px;
}

.logo-block {
    border-radius: 8px;
    padding: clamp(24px, 3vw, 48px);
    box-shadow: 0 0 10px 5px rgba(14, 125, 103, 0.08);
}

.logo-block img {
    height: 60px;
}

@media screen and (min-width: 800px) {
    .logo-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* ============================ */
/* SERVICE PAGES */
/* ============================ */

.service-hero {
    padding-bottom: var(--section-padding);
}

.service-hero-content {
    max-width: 700px;
    padding-block: var(--section-padding);
}

.service-hero-content > * {
    margin: 0 auto;
    text-align: center;
}

.service-hero-icon {
    width: 70px;
}